//varibles

$body-bg:               #eee;

// end varibles


$orange: #F25527;
$blue: tint(#4F6088,5);
$blue-light : tint(#34c2c7,5);
$blue-dark : #4F6088;
$white-dark: #eee;
$dark-red: #B64233;
$green:tint(#ff6b38,5);
$pink:tint(#FF8F7E,5);
$gray-light:#F0ECDB;
$gray : #999;


@mixin animation($animation) {
  animation: $animation;
}


@mixin keyframes( $animationName )
{
  @keyframes $animationName {
	@content;
  }
}
