@import "compass";
@import "mixins";

/* css3 animations */
/*tada effect*/


@include keyframes (tada) {

  0% {

	-webkit-transform: scale(1);
	transform: scale(1);
  }
  10%, 20% {
	-webkit-transform: scale(0.9) rotate(-3deg);
	transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
	-webkit-transform: scale(1.1) rotate(3deg);
	transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
	-webkit-transform: scale(1.1) rotate(-3deg);
	transform: scale(1.1) rotate(-3deg);
  }

  100% {
	-webkit-transform: scale(1) rotate(0);
	transform: scale(1) rotate(0);
  }
}

@include keyframes(benddown){
  0%{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);

  }
  85%{
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);


  }
  90%{
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);


  }

  100%{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);

  }

}



@include keyframes(bendup){
   0%{
	 -webkit-transform: translateY(0px);
	 -ms-transform: translateY(0px);
	 transform: translateY(0px);

   }
   85%{
	 -webkit-transform: translateY(-50px);
	 -ms-transform: translateY(-50px);
	 transform: translateY(-50px);


   }
   90%{
	 -webkit-transform: translateY(50px);
	 -ms-transform: translateY(50px);
	 transform: translateY(50px);


   }

   100%{
	 -webkit-transform: translateY(0px);
	 -ms-transform: translateY(0px);
	 transform: translateY(0px);

   }

 }


@include keyframes(hideleft ){
  0%{
	top:-100px;
  }
  15%{
	top:-20px ;

  }
 30%{
	top:-1000px;

  }
  99%{
	top:-100px;
  }

}

@include keyframes(swing){
  20% { transform: rotate(2deg); }
  40% { transform: rotate(-1.5deg); }
  60% { transform: rotate(1deg); }
  80% { transform: rotate(-0.5deg); }
  100% { transform: rotate(0deg); }
}



@include keyframes(bounceIn) {
  0% {
	opacity: 0;
	-webkit-transform: scale(.3);
	transform: scale(.3);
  }

  50% {
	opacity: 1;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }

  70% {
	-webkit-transform: scale(.9);
	transform: scale(.9);
  }

  100% {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}


@include keyframes(glow){
  0% { box-shadow: 0px 0px 25px 5px rgba($green, .25); }

  50% { box-shadow: 0px 0px 15px 5px rgba($green, .35); }
}

@include keyframes(bounceOutDown) {
  0% {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }

  20% {
	opacity: 1;
	-webkit-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
  }

  100% {
	opacity: 0;
	-webkit-transform: translateY(2000px);
	-ms-transform: translateY(2000px);
	transform: translateY(2000px);
  }
}

@include keyframes(bounceOutUp) {
  0% {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }

  20% {
	opacity: 1;
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
  }

  70% {
	opacity: 0;
	-webkit-transform: translateY(-2000px);
	-ms-transform: translateY(-2000px);
	transform: translateY(-2000px);
  }

  100% {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }
}