$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import "compass";
@import "mixins";
@import "animations";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:hidden;
  background-color: $gray-light;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}
.footer{
  text-align: right;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  width: 700px;
  position: relative;
  border: 0;


  .gem {
	width: 10px;
	height: 10px;
	display: block;
	padding: 0;
	margin: 5px 5px;
	border-radius: 25%;
	@include transition(all 500ms);
	&.gem-full {

	  background-color: $blue;
	}
	&.gem-empty {
	  background-color: $pink;

	}
  }

  .clash-btn {
	@include transition(all 300ms);
	width:2px;
	height: 400px;

	position: absolute;
	right:0;

	top: -100px;
	background-color: $pink;
	box-shadow: 1px 0 1px rgba(0,0,0,0.3);
	@include transform-origin(top center);
	@include animation(swing 2s ease-in-out forwards);
	&:hover{
	  @include transform-origin(top center);
	  @include animation(swing 2s ease-in-out forwards);
	}


	div {

	  position: relative;
	  height: 100%;
	  width: 100%;
	  span{
		position: absolute;
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: $pink solid 2px;
		bottom:-30px;
		left:-13px;
		background-color: $gray-light;
		cursor: pointer;
		box-shadow: 1px 0 1px rgba(0,0,0,0.3);
	  }
	}

	&.hideleft{
	  @include animation(hideleft 2000ms ease-in forwards);
	  z-index: -10;
	}



  }

  .right-aside {
	position: absolute;
	left: -45px;
	width: 100px;
	text-align: left;
	padding: 5px 10px;
	color: white;
	font-size: 20px;
	text-align: center;

	@include rotate(-90deg);

	@include transition(all 300ms);
	@include transform-origin(right bottom);



	&.score {
	  background-color: $blue;

	  top:265px;
	  padding: 5px;

	  span{
		display: block;
		&.score-alt {
		  font-size: 10px;
		  text-align: center;
		}

	  }

	  &.high-score {
		top:165px;
		background-color: #E4837C;
	  }


	}



  }
  .left-aside {
	position: absolute;
	left: 0px;
	width: 50px;
	text-align: right;
	padding: 5px 10px;
	color: white;
	font-size: 20px;

	&.moves-left {
	  width: 20px;
	  left: 60px;
	  top: 240px;
	  padding: 0;
	  background-color: $gray-light;


	}

  }
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.squad {
  width: 580px;
  height: 250px;
  position: relative;

  &.bendup{
	@include animation(bendup 1s forwards ease-in-out);
  }
  &.benddown{
	@include animation(benddown 1s forwards ease-in-out);
  }

}

.squad-row {

}

.soldier {
  @include transition(all ease-in 300ms);
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $blue;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 4px white solid;
  color: white;
  line-height: 35px;
  font-size: 15px;

  &:hover, &.selected, {
	box-shadow: 0px 0px 15px 5px rgba($green, .35);

  }

  &.highlighted {
	box-shadow: 0px 0px 15px 5px rgba($blue, .35);
  }

  &.tank {
	background-color: $pink;
  }
  &.spear {
	background-color: $blue;

  }
  &.healer {
	background-color: $green;

  }
  &.archer {
	background-color: $blue-light;

  }

  &.dead {
	background-color: $gray-light;
  }

  &.killed {
	-webkit-transform: rotateX(1800deg); /* Chrome, Safari, Opera */
	transform: rotateX(1800deg);
	box-shadow: 0px 0px 15px 5px rgba($pink, .25);
  }

  //&.ng-move {
	//@include transition(5s linear all);
	//opacity: 0;
  //
  //}
  //
  // &.ng-move-active{
	// opacity: 1;
  //}

  ////ng-animte parts
  //
  //&.ng-enter-stagger{
	//@include  transition-delay(3s);
	//@include transition-duration(0s);
  //}
  //
  //&.ng-enter{
	//@include transition(5s linear all);
	//opacity: 0;
  //
  //
  //
  //}
  //
  //&.ng-enter-active{
	//opacity: 1;
  //}
  //&.ng-leave{
  //
	//opacity: 1;
  //
  //
  //
  //}
  //
  //&.ng-leave-active{
  //
	//opacity: 0;
  //}

}
.squad-row{

  &.ng-enter-stagger{
	@include  transition-delay(100ms);
	@include transition-duration(0s);
  }

  &.ng-enter{
	@include transition(300ms ease-in all);

	opacity: 0;

  }

  &.ng-enter-active{
	opacity: 1;
  }
  &.ng-leave{





  }

  &.ng-leave-active{


  }

}

.mask{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  z-index: 10;

}

.result {
  z-index:15;
  width:300px;
  height:280px;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  padding: 30px;
  &.ng-hide-remove{

	@include  animation(bounceIn 0.5s ease-in-out forwards);
  }



  .tag{
	font-size: 10px;
	display: inline-block;
	margin: 3px;
	border-radius: 3px;
	padding: 3px;
	background-color: $gray-light;
	color:#666;

	//&.ng-enter-stagger{
	//  @include  transition-delay(10000ms);
	//  @include transition-duration(0s);
	//}
	//
	//&.ng-enter{
	//  @include transition(300ms ease-in all);
	//
	//  opacity: 0;
	//
	//}
	//
	//&.ng-enter-active{
	//  opacity: 1;
	//}
  }
  .score{
	font-size:40px;
	font-weight: 600;
  }
  .reset-btn{
	cursor: pointer;
	border-radius: 3px;
	width: 100px;
	height: 30px;
	background-color: $green;
	color:white;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	@include transition(all 300ms);
	&:hover {
	  @include animation(tada 1s forwards);
	}
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
	max-width: 730px;
  }

/* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
	padding-left: 0;
	padding-right: 0;
  }
/* Space out the masthead */
  .header {
	margin-bottom: 30px;
  }
/* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
	border-bottom: 0;
  }
}
