$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

@import "compass";
@import "mixins";
@import "animations";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


::selection {background:transparent;}
::-moz-selection {background:transparent;}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:hidden;
  background-color: $orange-light;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
{
  padding-left: 15px;
  padding-right: 15px;

}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}



.container-narrow > hr {
  margin: 30px 0;
}

.clash-btn {
  @include transition(all 300ms);
  width:2px;
  height: 400px;

  position: absolute;
  right:20px;

  top: -100px;
  background-color: $pink;
  box-shadow: 1px 0 1px rgba(0,0,0,0.3);
  @include transform-origin(top center);
  @include animation(swing 2s ease-in-out forwards);
  &:hover{
	@include transform-origin(top center);
	@include animation(swing 2s ease-in-out forwards);
  }


  &.demo{
	div span{
	  background-color: white;
	}
	right:0;
	top:-300px;
  }

  div {

	position: relative;
	height: 100%;
	width: 100%;
	span{
	  position: absolute;
	  display: block;
	  width: 30px;
	  height: 30px;
	  border-radius: 50%;
	  border: $pink solid 2px;
	  bottom:-30px;
	  left:-13px;
	  background-color: $orange-light;
	  cursor: pointer;
	  box-shadow: 1px 0 1px rgba(0,0,0,0.3),inset 1px 0 1px rgba(0, 0, 0, 0.3);
	}
  }

  &.hideleft{
	@include animation(bounceOutUp 1000ms ease-in forwards);
	z-index: -10;
  }



}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  width: 700px;
  position: relative;
  border: 0;


  .gem {
	width: 10px;
	height: 10px;
	display: block;
	padding: 0;
	margin: 5px 5px;
	border-radius: 25%;
	background-color: $pink;
	@include transition(all 500ms);
	&.gem-full {

	  background-color: $blue-light;
	}
	&.gem-empty {
	  background-color: $pink;

	}
	&.ng-enter-stagger{
	  @include  transition-delay(100ms);
	  @include transition-duration(0s);
	}

	&.ng-enter{
	  @include transition(500ms ease-in all);
	  background-color: $pink;


	}

	&.ng-enter-active{
	  background-color: $blue;
	}
  }



  .right-aside {
	font-family: Lato, sans-serif !important;
	position: absolute;
	left: -45px;
	width: 100px;
	text-align: left;
	padding: 5px 10px;
	color: white;
	font-size: 20px;
	text-align: center;

	@include rotate(-90deg);

	@include transition(all 300ms);
	@include transform-origin(right bottom);



	&.score {
	  background-color: $blue;

	  top:276px;
	  padding: 5px;

	  span{
		display: block;
		&.score-alt {
		  font-size: 10px;
		  text-align: center;
		}

	  }

	  &.high-score {
		top:176px;
		background-color: $pink;
	  }


	}



  }
  .left-aside {
	position: absolute;
	left: 0px;
	width: 50px;
	text-align: right;
	padding: 5px 10px;
	color: white;
	font-size: 20px;

	&.moves-left {
	  width: 20px;
	  left: 60px;
	  top: 250px;
	  padding: 0;
	  background-color: $orange-light;


	}

  }
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.squad {
  width: 580px;
  height: 250px;
  position: relative;

  &.bendup{
	@include animation(bendup 1s forwards ease-in-out);
  }
  &.benddown{
	@include animation(benddown 1s forwards ease-in-out);
  }

  &.demo{
	height: 150px;
	margin: auto;
	text-align: center;
  }

}



.soldier {
  @include transition(all ease-in 300ms);
  position: absolute;
  left:0;
  top:0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $blue;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 3px white solid;
  color: white;
  line-height: 35px;
  font-size: 15px;
  text-align: center;
  font-family: Lato, sans-serif !important;
  text-shadow: 1px 1px 1px #aaa;
  box-shadow: inset 1px 1px 1px #999;
  &.enemy{
	top:auto;
	bottom:0 !important;
  }

  &.demo{
	position: static !important;
  }

  &:hover, &.selected, {
	box-shadow: 0px 0px 15px 5px rgba($green, .35);

  }

  &.highlighted {
	box-shadow: 0px 0px 15px 5px rgba($blue, .35);
  }


  &.tank {
	background-color: $pink;
	@include background-image(linear-gradient(top, $pink, tint($pink, 20)));
  }
  &.spear {
	background-color: $blue;


	@include background-image(linear-gradient(top, $blue, tint($blue, 20)));

  }
  &.healer {
	background-color: $green;
	@include background-image(linear-gradient(top, $green, tint($green, 20)));

  }
  &.archer {
	background-color: $blue-light;
	@include background-image(linear-gradient(top, $blue-light, tint($blue-light, 20)));

  }

  &.dead {
	z-index: 1;
	background-color: $orange-light;
  }

  &.killed {
	-webkit-transform: rotateX(1800deg); /* Chrome, Safari, Opera */
	transform: rotateX(1800deg);
	box-shadow: 0px 0px 15px 5px rgba($pink, .35);
  }

  &.archer, &.tank, &.healer, &.spear {

	z-index: 2;
	&.ng-enter-stagger{
	  @include  transition-delay(100ms);
	  @include transition-duration(0s);
	}


	&.ng-enter{
	  @include transition(all 300ms ease-in);

	  //left:105% !important;
	  -webkit-transform: translateY(0px) translateX(40px)  !important;

	  transform: translateY(0px) translateX(40px)  !important;

	  opacity: 0;


	}


	&.ng-enter-active{

	  opacity: 1;
	}


  }



  &.ng-leave{
	opacity: 0;
  }



}
.squad-row{


}

.mask{




  &.mask-gameover,&.mask-comments{
	background-color: rgba(0,0,0,0.3);
	z-index: 10;
  }

  &.mask-slide{

	&.ng-hide-remove{
	  @include transition(300ms ease-in all);
	  opacity: 0;
	}

	&.ng-hide-remove-active{
	  opacity: 1;
	}

	&.ng-hide-add{
	  display:block!important;
	  @include transition(300ms ease-in all);
	  opacity: 1;

	}
	&.ng-hide-add-active{
	  opacity: 0;
	}
	background-color: white;
	z-index: 11;

	.slide-content{
	  position: absolute;
	  left: 50%;
	  top: 50%;

	  transform: translate(-50%, -50%);

	  width: 80%;
	  height: 50%;
	  max-width: 730px;
	  .explain{
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		color:$gray;
	  }

	}

  }


  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;




}

.footer{
  color:white;
  font-size: 30px;
  font-family: Lato,sans-serif;



  .menu-btn{
	cursor: pointer;
	position: fixed;
	width:100%;
	height: 100px;
	right:-20px;
	text-align: right;
	box-shadow: -1px -1px 3px rgba(0,0,0,0.35);

	transition: all 300ms ease-in;
	transform: translateZ(0);
  }


  .menu-btn:nth-of-type(1){
	z-index: 2;
	bottom: -80px;
	padding-right: 80px;

	background-color: $pink;

	transform: rotate(-3deg);

	&:hover{
	  transform: rotate(-4deg);
	}

  }
  .menu-btn:nth-of-type(2){
	z-index: 1;
	bottom: -60px;
	padding-right: 120px;

	background-color: $blue;

	transform: rotate(-6deg);

	&:hover{
	  transform: rotate(-7deg);
	}
  }
}

::-webkit-scrollbar {
  display: none;
}

.comments{
  z-index: 15;
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 30px;
  position: fixed;
  margin-top:-250px;
  top:50%;
  left:50%;
  margin-left: -250px;
  border-radius: 	15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  overflow-x: hidden;

  &.ng-hide-remove{

	@include  animation(bounceIn 0.5s ease-in-out forwards);
  }
  &.ng-hide-add{
	display:block!important;
	@include  animation(bounceOutDown 0.5s ease-in-out forwards);
  }

}

.result {
  font-family: Lato, sans-serif !important;
  z-index:15;
  width:300px;
  height:280px;
  position: fixed;
  top:50%;
  left:50%;
  margin-top:-140px;
  margin-left:-150px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  padding: 30px;
  &.ng-hide-remove{

	@include  animation(bounceIn 0.5s ease-in-out forwards);
  }
  &.ng-hide-add{
	display:block!important;
	@include  animation(bounceOutDown 0.5s ease-in-out forwards);
  }



  .tag{
	font-size: 10px;
	display: inline-block;
	margin: 3px;
	border-radius: 3px;
	padding: 3px;
	background-color: $orange-light;
	color:#666;

	//&.ng-enter-stagger{
	//  @include  transition-delay(10000ms);
	//  @include transition-duration(0s);
	//}
	//
	//&.ng-enter{
	//  @include transition(300ms ease-in all);
	//
	//  opacity: 0;
	//
	//}
	//
	//&.ng-enter-active{
	//  opacity: 1;
	//}
  }
  .score{
	font-size:40px;
	font-weight: 600;
  }
  .reset-btn{
	cursor: pointer;
	border-radius: 3px;
	width: 100px;
	height: 30px;
	background-color: $green;
	color:white;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	@include transition(all 300ms);
	&:hover {
	  @include animation(tada 1s forwards);
	}
  }
}

.hr{
  height: 2px;
  width: 80%;
  background: white;
  margin: 30px auto;
  border-top: 1px solid #aaa;
  opacity: 0.5;
  margin-left: 80px;

}


.guide-control{
  z-index: 20;
  position: fixed;
  bottom: 20px;
  left:50%;
  margin-left:-200px;
  width: 400px;
  height: 100px;

  ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .next-btn{
	font-family: Lato,sans-serif;
	font-size: 22px;
	color:white;
	background-color: $gray;
	width: 100px;
	display: block;
	margin: auto;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border-radius: 3px;
  }
  .indicator {
	text-align: center;
	list-style: none;
	width: 200px;
	margin: auto;
	margin-top: 10px;
	li{
	  margin: 5px;
	  display: inline-block;
	  width: 5px;
	  height: 5px;
	  background-color: $orange-light;
	  border-radius: 50%;
	  &.active{
		background-color: $gray;
	  }
	}
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
	max-width: 730px;
  }

/* Remove the padding we set earlier */
  .header,
  .marketing,
 {
	padding-left: 0;
	padding-right: 0;
  }
/* Space out the masthead */
  .header {
	margin-bottom: 30px;
  }
/* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
	border-bottom: 0;
  }
}
