
$orange: #F25527;
$blue: #48AFC1;
$blue-light : #BAD8BC;
$blue-dark : #4F6088;
$orange-light: #f2ead5;
$dark-red: #B64233;
$green: #B4C63B;
$pink:#E4837C;
$gray-light:#F0ECDB;
$gray : #999;


@mixin animation($animation) {

  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}


@mixin keyframes( $animationName )
{
  @-webkit-keyframes $animationName {
	@content;
  }
  @-moz-keyframes $animationName {
	@content;
  }
  @-o-keyframes $animationName {
	@content;
  }
  @keyframes $animationName {
	@content;
  }
}
