<!--<div class="header">-->
	<!--<ul class="nav nav-pills pull-right">-->
		<!--<li class="active"><a ng-href="#">Home</a></li>-->
		<!--<li><a >How to Play</a></li>-->
	<!--</ul>-->
	<!--<h1 class="text-muted">Clash</h1>-->
<!--</div>-->

<div class="jumbotron ng-cloak">


	<div class="right-aside score"><span>{{getScore()}}</span><span CLASS="score-alt">SCORE</span></div>
	<div class="right-aside score high-score"><span>{{getKilled()}}</span><span CLASS="score-alt">KILLED</span></div>
	<div class="clash-btn"  ng-class="displayClass.clashAnimation('left')" ng-click="clash(); $event.stopPropagation();"><div><span></span></div></div>

	<div class="left-aside moves-left">

		<div class="gem"  ng-repeat="a in getGems() track by $index" ng-class="displayClass.getGemClass($index)"></div>

	</div>


	<div class="squad" ng-class="displayClass.clashAnimation('up')">
		<div class="soldier enemy {{soldier.className}}" ng-repeat="soldier in enemyMatrix track by $index" ng-style="getAbsPos(1,soldier)"
			 ng-class="[displayClass.highlighted(soldier),displayClass.deathAnimation(soldier)]" ng-mouseleave="clearRangesHighlight()" ng-mouseenter="showInRanges(0,soldier)" ng-click="reportPos(soldier)">{{soldier.attack}}/{{soldier.health}}</div>

	</div>

	<div class="hr"></div>


	<div class="squad" ng-class="displayClass.clashAnimation('down')">
		<div class="soldier {{soldier.className}}" ng-repeat="soldier in matrix track by $index" ng-style="getAbsPos(0,soldier)" ng-mouseleave="clearRangesHighlight()" ng-mouseenter="showInRanges(1,soldier)" ng-click="go(soldier)"
			 ng-class="[displayClass.selected(soldier),displayClass.highlighted(soldier),displayClass.deathAnimation(soldier)]" >{{soldier.attack}}/{{soldier.health}}</div>




	</div>

	<div class="result" ng-show='gameOver'>
		<div class="score">{{getScore()}}</div>
		<div class="score-alt">HIGH-SCORE: {{getHighScore()}}</div>
		<hr />
		<div>
			<span class="tag" ng-repeat="combo in getCombos() track by $index" ng-show="combo">
				{{$index}}k x {{combo}}
			</span>
		</div>

		<div class="reset-btn" ng-click="resetGame()">retry</div>
	</div>

</div>


<div class="mask" ng-show='gameOver'>

</div>


<!--<div class="footer">-->
	<!--<p>by ruocaled</p>-->
<!--</div>-->
