<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a >How to Play</a></li>
	</ul>
	<h3 class="text-muted">Clash</h3>
</div>

<div class="jumbotron">


	<div class="right-aside score">{{score}}</div>
	<div class="right-aside clash-btn"  ng-click="clash()"><span class="glyphicon glyphicon-remove"></span></div>

	<div class="left-aside moves-left">

		<div class="gem"  ng-repeat="a in range(MAXMOVESLEFT) track by $index" ng-class="displayClass.getGemClass($index)"></div>

	</div>


	<div class="squad">
		<div class="squad-row" ng-repeat="row in enemyMatrix">

			<div class="soldier {{soldier.className}}" ng-repeat="soldier in row track by $index" ng-style="getAbsPos(1,soldier)"
				ng-class="displayClass.highlighted(soldier)" ng-mouseleave="clearRangesHighlight()" ng-mouseenter="showInRanges(0,soldier)" ng-click="reportPos(soldier)">{{soldier.attack}}/{{soldier.health}}</div>

		</div>

	</div>

	<hr/>

	<div class="squad" >
		<div class="squad-row" ng-repeat="row in matrix">

			<div class="soldier {{soldier.className}}" ng-repeat="soldier in row track by $index" ng-style="getAbsPos(0,soldier)" ng-mouseleave="clearRangesHighlight()" ng-mouseenter="showInRanges(1,soldier)" ng-click="go(soldier)" ng-class="displayClass.selected(soldier);displayClass.highlighted(soldier)" >{{soldier.attack}}/{{soldier.health}}</div>




		</div>


	</div>
</div>

<div class="result">
	<div>{{score}}</div>
	<div>{{hightScore}}</div>
	<button ng-click="resetGame()">restart</button>
</div>


<div class="footer">
	<p>Made without <span class="glyphicon glyphicon-heart"></span> by Ruocaled</p>
</div>
